@media screen and (max-width:480px) {


  /* CSS Reset */
  /* *{
    margin:0;
    padding: 0;
  }
   */

  /* CSS Variables */
  :root {
    --Primary-Font-Family: 'Lato', sans-serif;
    --Primary-Background-Color: #F8F8F8;
  }


  /* DOM font family  and background color */
/*   
  html {
    font-family: var(--Primary-Font-Family);
    background-color: var(--secondary-Background-Color);
  } */
  body {
    font-family: var(--Primary-Font-Family);
    background-color: var(--Primary-Background-Color);
  }


  /* Display which is hiddie in this portion  */
  .leftPortion {
    display: none;
  }

  .rocket_image2 {
    height: 100%;
    /* margin-right: 30%; */
  }

  /*-----------------------------Register Portion -------------------------*/

  .rocket_image {
    overflow: hidden;
  }


  Big {
    overflow: hidden;
  }

  .targetLottie {
    position: relative;
    height: 50vh;
  }

  .targetLottie svg {
    margin-top: -13%;
    margin-left: -10%;
  }

  .lottoImage {
    width: 100%;
    height: auto;
  }



  /* Right portion is shown whole in the screen  */
  .rightPortion {
    padding: 0%;
    width: 100%;
    height: 100%;
  }

  .mainPage {
    margin: 0%;
    margin-top: 36px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.CountryAndPhoneNumber{ 
  display: flex;
  width: 98%;
}


  .nameAskingSection {
    margin-top: 4%;
    width: 100%;
    height: auto;
    top: 133px;
    left: 20px;
    border-radius: 8px
  }

  .nameAskingSection~.buttonclass {
    height: 66vh;
  }


  .focused_input, .focused_input:focus{
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    margin-left: 0%;
    padding: 2%;
    width: 100%;
    /* margin-left: 10%; */
  }

  .buttonclass {
    padding-left: 0%;
    height: 75vh;
    width: 98%;
  }

  .OtpBackBut {
    display: flex;
  }

  .PencilLottie {
    position: relative;
    height: 37vh;
    width: 100%;
    height: 60%;
  }

  .PencilLottie .lottoImage {
    width: 80%;
    margin-top: 4%;
  }

  .PencilLottie svg {
    margin-top: -17%;
    width: 120%;
  }

  .colorBoxBig {
    width: 100%;
  }

  /* .colorBox{
        aspect-ratio: 1;
    } */

   .HomeSideBar  {
    display: none
  }

  .home .NavBar {
    margin-left: 0px;
    width: 100vw;
  }

  .phoneNumberInput, .phoneNumberInput:focus {
    width: 100%;
    border-left: 0px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 8px 8px 0px;
  }
  
  
  .countryCode {
    display: flex;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 2%;
    border-right: 0px;
    border-radius: 8px 0px 0px 8px;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .HomeNavBar .container {
    margin-left: 4%;
    margin-right: 10%;
    padding: 0%;
  }

  /*-------------------------------------------Home--------------------------------------------------- */
  /*-------------------------- NavBar-------------------------  */

  .HomePart .container {
    margin-left: 0%;
    margin-right: 10%;
    padding: 0%;
}

  .HomeNavBar>nav {
    /* padding-top: 2%;
    padding-bottom: 3%; */
    --bs-navbar-brand-padding-y: 0rem;
  }

  .HomeNavBar> .navbar {
    /* --bs-navbar-padding-x: 0; */
   --bs-navbar-padding-y: 0rem;
  }

  .HomeMainFacultiContentPortionStyle{
    margin-left: 0%;
  }


  /*-------------------------- Subject Portion-------------------------  */

  .HomeBackPhoneview{
    background-color: var(--second-primary-color);
    margin-top: 1%;
  }

  .subjectNavBar{
    margin-left: 0;
    width: 100%;
  }

  .container>.row>.col {
    flex: 1 1;
    /* width: 109%; */
    /* display: flex; */
    margin-left: 2%;
}

  .row-cols-1>* {
    flex: 1 1;
    width: 50%;
  }

  .subjectImages {
    height: 100px;
    width: 100px;
}

  .SubjectContanier > .react-multi-carousel-list {
    width: 100%;
  }

  .FacultiImg {
    height: 20vh;
    width: auto;
    border-radius: 5%;
}

  

  .SubjectContanier ul > li {
    width: 211px;
  }

  .SubjectImgAndName {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.HomeNavBar, .HomeMainContent {
  background-color:var(--second-primary-color);
  margin-left: 0%;
}

.subjectFlexIndex {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* top: 0; */
  bottom: 3%;
  margin-left: 50%;
  z-index: 2;
}

.FlotingSubjectIndex {
  display: flex;
  z-index: 1000;
  background-color: var(--SubjectIndexTab-color);
  color: var(--second-primary-color);
  width: 114px;
  height: 48px;
  top: 648px;
  left: 123px;
  border-radius: 140px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translateX(-50%);
}


.FlotingSubjectTable {
  display: flex;
  z-index: 1000;
  background-color: var(--second-primary-color);
  color: var(--text-color);
  max-width: 314px;
  max-height: 433px;
  /* top: 267px; */
  /* left: 22px; */
  margin-bottom: -3%;
  padding-left: 5%;
  border-radius: 7px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  transform: translateX(-50%);
  align-content: center;
  justify-content: flex-start;
  overflow-y: scroll;
  bottom: 0%;
  /* transform: scale(1);	 */
  /* transition: all 2s ease 5s; */
}
  /*-------------------------- Faculti Potion-------------------------  */
  div .react-multi-carousel-list {
    width: 88%;
  }

  .FacultiImg {
    /* height: 100%; */
    width: auto;
    /* border-radius: 5%; */
}


  /*-------------------------- overlay CSS-------------------------  */
  #overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 1;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
  }

  .Testing {
    margin-left: -1%;
  }

  .SubjectScrollProbl{
    height: 92vh;
}


  /*-----------------------------------------------Side Bar Menu ----------------------------------------- */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;

  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
    padding-left:0px;
  }

  .respHomeSide {
    display: flex;
  }

  .tableHome {
    padding-left: 4.5vw;
    font-size: 16px;
    line-height: 44px;
    height: 85.5vh;
    overflow-x: hidden;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
  }

  .LogoCloseBut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 8%;
  }

  .companyLogo {
    padding: 0%;
    width: 100%;
    margin: 0%;
    margin-left: 0%;
  }

  .Logo_Image {
    margin: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
  }

  .sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--second-primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;

  }

  .sidebar .closebtn {
    /* position: absolute; */
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
  }



  .sidebar a {
    padding: 0%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    /* display: ; */
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .subectNav{
    margin-left: 0%;
  }

  .ProgressPart {
    padding-top: 0%;
  }

  .SubjectName {
    height: 59px;
    padding-top: 0%;
    display: flex;
    align-items: center;
  }

  /*-----------------------------------------------Chapter Portion ----------------------------------------- */

  .ChapterNav {
    background-color: #fff;
    padding-top: 3%;
    padding-bottom: 2%;
  }

  .contentSep {
    overflow-y: hidden;
    display: flex;
    flex-direction: column-reverse;
}

  .ChapterCon {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    margin-top: 3vh;
    margin-left: 1vw;
    overflow-y: hidden;
  }

  .ChaptrSide {
    margin-top: 3vh;
    background-color: #fff;
    width: 100%;
    height: 45vh;
  }

  .scrollView {
    /* height: 100%; */
    overflow-y: scroll;
}

  .accordionBody {
    max-height: 32vh;
    overflow-y: scroll;
    flex: 1 1;
}

  .accordianContent {
    display: flex;
  }


  .ChapterPageSideBar {
    width: 100%;
    background-color: #fff;
    margin-top: 10%;
    /* overflow-y: hidden; */
    flex: 1;
    height: 100%;
}

  .subjectCardClass{
    margin-bottom: 2%;
    margin-left: 0%;
    margin-top:2%; 
    height: auto
  }

  /*-----------------------------------------------Search classes----------------------------------------- */

  .searchBar {
    justify-content: flex-start;
    margin-left: 5%;
}

  .phoneSearch{
    display: flex;
  }

  .NoResultImg img {
    width: 50%;
    height: auto;
  }

  .NoResultText, .NoResultText:focus {
    width: 200px;
  }
  /* .SearchInputBox:focus{
    width: 100px;
  } */

  .HomeSubjectButton {
    /* max-width: 30vh;
    max-height: 25vh; */
    /* aspect-ratio: 150/135; */
    width: 20vh;
    height: 24vh;
}
  

  .NewEnrollments, .Enrollments {
    display: none
}

/* .webView{
  display: none;
}
.phoneView{
  display: flex;
} */

  /*-----------------------------------------------Utility classes----------------------------------------- */
  .container {
    max-width: 100%;
  }
}