/*--------------------------------Tab View------------------------------------------*/

@media screen and (min-width: 481px) and (max-width: 720px) {

  /* body{
    background-color: var(--primary-primary-color);
  } */

  .home>.SideBar>.HomeSideBar,
  .phoneSearch {
    display: none;
  }

  .home .NavBar {
    margin-left: 0px;
    width: 100vw;
  }

  .respHomeSide {
    display: block;
  }


  /*-------------------------------------------Login--------------------------------------------------- */
  /*-------------------------- Phone Number-------------------------  */

  .focused_input, .focused_input:focus
{
    border: 2px solid var(--primary-color);
  outline: none;

    border-radius: 8px;
    padding: 2%;
    width: 300px;

    /* margin-left: 10%; */
     }
     .phoneNumberInput, .phoneNumberInput:focus {
      /* background-color: var(--Primary-Background-Color); */
      border-left: 0px;
      /* top-left | top-right | bottom-right | bottom-left */
      border-radius: 0px 8px 8px 0px;
    }

    .buttonclass {
      padding-left: 0%;
      height: 50vh;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      /* align-items: flex-end; */
      /* align-items: center; */
      /* padding: 10%; */
      /* margin-top: 50%; */
      /* margin-left: 5%; */
    }
    
    .extraPho{
      width: 360px;
    }

    /* .webView{
      display: none;
    }

    .phoneView{
      display: flex;
    } */

  /*-------------------------------------------Home--------------------------------------------------- */
    /*-------------------------- NavBar-------------------------  */
    .HomeNavBar {
      margin-left: 0%;
    }

    .HomeMainContent {
      margin-left: 0%
    }

    .HomeNavBar .container {
      margin-left: 0%;
      /* margin-right: 10%; */
      padding: 0%;

    }

    .HomeNavBar>nav {
      padding-top: 0%;
      padding-bottom: 0%;
      --bs-navbar-brand-padding-y: 0rem;
    }

    .HomeSideBar {
      display: none;
    }

    .HomeMainFacultiContentPortion {
      margin-left: 0%;
    }

    /* .navbarScrollingDropdown{
      display: none;
    } */

    /* #navbarScrollingDropdown .dropdown-menu.show {
      display: none;
    } */

    /*-------------------------- Subject Portion-------------------------  */

    .container>.row>.col {
      flex: 1;
      margin-right: 5%;
      /* width: 109%; */
      /* display: flex; */
    }

    .subjectNavBar {
      margin-left: 0;
      width: 100%;
    }

    .subjectImages {
      height: 23vh;
      width: 23vh;
      border-radius: 5%;
    }
    

    /*-------------------------- Faculti Potion-------------------------  */
    div .react-multi-carousel-list {
      width: 88%;
    }


    /*-------------------------- overlay CSS-------------------------  */
    #overlay {
      position: fixed;
      /* Sit on top of the page content */
      display: none;
      /* Hidden by default */
      width: 100%;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      /* Black background with opacity */
      z-index: 1;
      /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer;
      /* Add a pointer on hover */
    }

    /*-----------------------------------------------Side Bar Menu ----------------------------------------- */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;

    }

    .openbtn:hover {
      background-color: #444;
    }

    #main {
      transition: margin-left .5s;
      padding: 16px;
      padding-left: 0px;
    }

    .HomeSubjectButton {
    min-width: 70px;
      max-height: 35vh;
      }

    .respHomeSide {
      display: flex;
    }

    .tableHome {
      padding-left: 4.5vw;
      font-size: 16px;
      line-height: 44px;
      height: 85.5vh;
      overflow-x: hidden;
      background-color: #FFF;
      display: flex;
      flex-direction: column;
    }

    .LogoCloseBut {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10%;
      margin-top: 8%;
    }

    .companyLogo {
      padding: 0%;
      width: 100%;
      margin: 0%;
      margin-left: 0%;
    }

    .Logo_Image {
      margin: 5%;
      margin-left: 0%;
      margin-bottom: 0%;
    }

    .sidebar {
      height: 100vh;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: var(--second-primary-color);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 0px;

    }

    .sidebar .closebtn {
      /* position: absolute; */
      top: 0;
      /* right: 25px; */
      font-size: 36px;
      /* margin-left: 50px; */
    }



    .sidebar a {
      padding: 0%;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      /* display: ; */
      transition: 0.3s;
    }

    .sidebar a:hover {
      color: #f1f1f1;
    }

    /*-----------------------------------------------Subject Portion----------------------------------------- */


    .NavbarBrandHome {
      height: 59px;
    }

    .SubjectContanier>.react-multi-carousel-list {
      width: 94vw;
    }

    .subjectFlexIndex {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* top: 0; */
      bottom: 3%;
      margin-left: 50%;
      z-index: 2;
    }

    .FlotingSubjectIndex {
      display: flex;
      z-index: 1000;
      background-color: var(--SubjectIndexTab-color);
      color: var(--second-primary-color);
      width: 114px;
      height: 48px;
      top: 648px;
      left: 123px;
      border-radius: 140px;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      transform: translateX(-50%);
    }

    .subjectCardClass {
      /* margin-bottom: 2%; */
      margin-left: 0%;
      margin-top: 1%;
      height: auto;
  }

  .commonBar .container {
    margin-left: 3%;
    margin-right: 10%;
    padding: 0%;
}

    .FlotingSubjectTable {
      display: flex;
      z-index: 1000;
      background-color: var(--second-primary-color);
      color: var(--text-color);
      max-width: 314px;
      max-height: 433px;
      top: 267px;
      margin-bottom: -3%;
      /* left: 22px; */
      padding-left: 5%;
      border-radius: 7px;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      transform: translateX(-50%);
      align-content: center;
      justify-content: flex-start;
      overflow-y: scroll;
      /* transform: scale(1);	 */
      /* transition: all 2s ease 5s; */
    }

    .subectNav{
      margin-left: 0%;
    }

    /* .ProgressPart {
      padding-top: 10%;
    } */


    /*----------------------------------------------Chapter Classes----------------------------------------- */

    .accordianContent {
      display: none;
    }



    .HomeScrollProblem{
      height: 88vh
    }

    .subjectPageScollPro{height: 89vh}

    /*-----------------------------------------------Utility classes----------------------------------------- */
    .container {
      max-width: 100%;
    }



  }

  /*--------------------------------------------------------------------------*/